body{
  text-align: center;
  font-family: "arial";

}
p{
  margin: : 5px;
  color: white;
  background-color: black
}
.header{
  background: black;
  color: white;
  /* margin: 1em; */
  font-size: 2em;
}

.header p{
  font-style: italic;
  padding: 0;
  text-align: center;
}
footer{
  background-color: black;
  color: inherit;
  height: 100%;
}
